* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-style: sans-serif;
    font-size: 15px;
    font-weight: 700;
}

.navegacao {
    height: 75px;
    background-color: rgb(10, 15, 13);
    align-items: center;
    display: flex;
    border-bottom: 1.6px solid rgb(236, 29, 36);
    justify-content: space-between;
}

.navegacao div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

.botao_home {
    color: white;
    display: flex;
    margin-right: 20px;
    text-decoration: none;
}

.botao_home:hover {
    cursor: pointer;
    border: solid;
    border-color: white;
    padding: 10px;
}

.navegacao img {
    display: flex;
    justify-content: left;
    align-items: left;
    cursor: pointer;
    height: 45px;
    margin-left: 10px;
    width: 45px;
}

.sobre {
    color: rgb(10, 15, 13);
    font-family: sans-serif;
    display: block;
    font-size: 15px;
    font-weight: 400;
    unicode-range: isolate;
}

.container {
    margin-bottom: 60px;
    margin-top: 60px;
    text-align: center;
}

.container div h2 {
    font-size: 22.5px;
    font-weight: 700;
}

.personagem {
    align-items: center;
    color: rgb(10, 15, 13);
    display: flex;
    font-family: sans-serif;
    justify-content: center;
    border-left: 20px;
    border-right: 20px;
}

.container_imagem {
    border-style: solid;
    border-color: rgb(10, 15, 13);
    border-bottom-width: 4px;
    border-image-repeat: stretch;
    border-image-source: none;
    border-image-width: 1;
    border-width: 4px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 20px 0px;
    display: block;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 400;
    height: 300px;
    width: 300px;
    margin-left: 30px;
}

.container_imagem img {
    height: 292px;
    width: 292px;
    font-family: sans-serif;
    font-weight: 400;
}

.context {
    display: block;
    font-weight: 400;
    position: relative;
}

.nome_personagem {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 20px 0px;
    display: flex;
    font-kerning: auto;
    font-optical-sizing: auto;
    font-size: 14px;
    left: -20px;
    position: absolute;
}

.nome_personagem h2 {
    background-color: rgb(249, 249, 249);
    border-color: rgb(10, 15, 13);
    border-style: solid;
    border-width: 4px;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    font-weight: 700;
    padding-bottom: 7px;
    padding-left: 11.2px;
    padding-inline-start: 11.2px;
    padding-inline-end: 11.2px;
}

.descricao {
    align-items: center;
    border-color: rgb(10, 15, 13);
    border-style: solid;
    border-width: 4px;
    display: flex;
    font-size: 14px;
    font-stretch: 100%;
    font-weight: 400;
    height: 200px;
    justify-content: center;
    line-height: normal;
    padding: 35px;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    margin-right: 30px;
    overflow: auto;
}

.container_comics {
    display: block;
    font-feature-settings: normal;
    font-kerning: auto;
    font-optical-sizing: auto;
    font-size: 14px;
    font-stretch: 100%;
    margin-bottom: 56px;
    margin-top: 56px;
    line-height: normal;
    height: 31.2px;
}

.comics {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.comics h2 {
    display: block;
    font-size: 21px;
    font-weight: 700;
    text-align: center;
}

.grid {
    /*column-gap: 30px;
    display: flex;
    font-family: sans-serif;
    font-size: 15px;
    row-gap: 30px;
    align-items: center;
    unicode-bidi: isolate;
    line-height: normal;
    justify-content: center;
    overflow: hidden;*/
    column-gap: 30px;
    display: grid;
    font-family: sans-serif;
    font-size: 15px;
    row-gap: 30px;
    align-items: center;
    unicode-bidi: isolate;
    line-height: normal;
    justify-content: center;
    overflow: hidden;
}

.style_container {
    display: flex;
    flex-direction: row;
    font-weight: 400;
    grid-column-end: auto;
    grid-column-start: span 3;
    justify-self: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.style_content {
    cursor: pointer;
    display: flex;
    font-size: 14px;
    line-height: normal;
    flex-direction: column;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 400px;
    width: 400px;
}

.hqimg {
    transition-duration: 0.4s;
    transition-delay: 0s;
    transition-timing-function: ease;
    display: inline;
    width: 225px;
    height: 250px;
}

.style_content p {
    cursor: pointer;
    display: block;
    font-family: sans-serif;
    font-size: 18.72px;
    font-weight: 700;
    margin-block-end: 8px;
    margin-block-start: 11.2px;
    margin-bottom: 8px;
    margin-top: 20px;
    text-align: center;
    transition-duration: 0.4s;
    transition-property: color;
    transition-timing-function: ease;
}

.hqimg:hover {
    transform: scale(1.2);
}

.linkComic {
    text-decoration: none;
    color: #000;
}

.footer_container {
    background-color: rgb(10, 15, 13);
    color: rgb(249, 249, 249);
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    justify-content: center;
    height: 120px;
    -webkit-box-align: center;
    unicode-bidi: isolate;
    margin-top: 60px;
}

.footer {
    display: flex;
    flex-direction: column;
    font-stretch: 100%;
    font-size: 16px;
    justify-content: center;
    align-items: center;
    line-height: normal;
    unicode-bidi: isolate;
    -webkit-box-align: center;
    -webkit-box-pack: center;
}

.footer div p {
    display: block;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 500;
}

.footer div a svg {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(249, 249, 249);
    fill: rgb(249, 249, 249);
    cursor: pointer;
    height: 40px;
    margin: 8px;
    position: relative;
    left: 120px;
    stroke: rgb(249, 249, 249);
    transition-duration: 0.2s;
    transition-property: color;
    transition-timing-function: ease;
    width: 40px;
}

.footer div a svg {
    transition: transform 0.4s ease-in-out;
}

.footer div a svg:hover {
    transform: scale(1.3);
}