* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial;
}

body {
    font-style: sans-serif;
    font-size: 15px;
    font-weight: 700;
    background-image: url('Imagens/Fundo.png');
    overflow-y: hidden;
}

.mensagem {
    height: 120px;
    background-color: rgb(10, 15, 13);
    color: rgb(249, 249, 249);
    align-items: center;
    align-content: center;
    display: flex;
    justify-content: flex-start;
    justify-items: center;
    background: none;
    flex-direction: row;
    flex-wrap: nowrap;
}

.mensagem img {

    height: 80px;
    width: 300px;
    margin-bottom: 20px;
    position: relative;
}

.search {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.search input {
    display: flex;
    cursor: pointer;
    height: 25px;
    width: 350px;
    margin: 10px;
    padding-left: 5px;
}

.personagens {
    color: rgb(10, 15, 13);
    font-family: sans-serif;
    display: block;
    font-size: 15px;
    font-weight: 400;
    height: 500px;
}

.container {
    margin-bottom: 60px;
    margin-top: 60px;
    text-align: center;
}

.container div h2 {
    font-size: 22.5px;
    font-weight: 700;
}

.grid {
    column-gap: 30px;
    display: grid;
    font-family: sans-serif;
    font-size: 15px;
    row-gap: 30px;
    align-items: center;
    unicode-bidi: isolate;
    line-height: normal;
    justify-content: center;
}

.grid img {
    display: flex;
    height: 180px;
    width: 180px;
    margin: 30px;
}

.style_container {
    display: flex;
    flex-direction: row;
    font-weight: 400;
    grid-column-end: auto;
    grid-column-start: span 3;
    justify-self: center;
    align-items: center;
    flex-wrap: wrap;
    height: 500px;
    width: 750px;
    overflow-y: scroll;
}

/* Para navegadores WebKit (Chrome, Safari) */
.style_container::-webkit-scrollbar {
    width: 8px;
    /* Largura da barra de rolagem vertical */
    height: 8px;
    /* Altura da barra de rolagem horizontal */
}

.style_container::-webkit-scrollbar-track {
    background: #000;
    /* Cor do trilho da barra de rolagem */
}

.style_container::-webkit-scrollbar-thumb {
    background: #00FF00;
    /* Cor da parte da barra de rolagem */
    border-radius: 10px;
    /* Borda arredondada da barra de rolagem */
}

.style_container::-webkit-scrollbar-thumb:hover {
    background: #00CC00;
    /* Cor da barra de rolagem ao passar o mouse */
}

/* Para navegadores Firefox */
body {
    scrollbar-width: thin;
    /* Largura fina */
    scrollbar-color: #00FF00 #000;
    /* Cor da barra de rolagem e do trilho */
}

.style_content {
    cursor: pointer;
    display: flex;
    font-size: 14px;
    line-height: normal;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

#divSub {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin: 20px;
    height: 263.1px;
    width: 225.5px;
}

#divPai {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 300px;
}

#link {
    color: #000;
    text-decoration: none;
}

.style_content p {
    cursor: pointer;
    display: block;
    font-family: sans-serif;
    font-size: 18.72px;
    font-weight: 700;
    margin-block-end: 8px;
    margin-block-start: 11.2px;
    margin-bottom: 8px;
    margin-top: 20px;
    text-align: center;
    transition-duration: 0.4s;
    transition-property: color;
    transition-timing-function: ease;
}

.style_content img {
    box-shadow: -10px 15px 20px black;
    display: inline;
    border-style: solid;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-width: 4px;
    overflow-x: clip;
    overflow-x: clip;
    transition-duration: 0.4s;
    transition-delay: 0s;
    transition-timing-function: ease;
    width: 225.5px;
    height: 225.5px;
}

.style_content div img:hover {
    box-shadow: -10px 15px black;
}

.footer_container {
    color: rgb(249, 249, 249);
    display: flex;
    align-items: flex-start;
    font-size: 16px;
    font-weight: 400;
    justify-content: flex-start;
    height: 80px;
    margin-top: 60px;
    background: none;
    flex-direction: row;
}

.footer {
    display: flex;
    flex-direction: row;
    font-stretch: 100%;
    font-size: 16px;
    justify-content: flex-start;
    align-items: flex-end;
    line-height: normal;
    unicode-bidi: isolate;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    flex-wrap: nowrap;
    width: 100%;
    bottom: 0;
    position: fixed;
}

.footer .imagem img {
    height: 250px;
}

.footer .git {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.footer .git p {
    display: block;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 500;
}

.footer .git a svg {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(249, 249, 249);
    fill: rgb(249, 249, 249);
    cursor: pointer;
    height: 40px;
    margin: 8px;
    position: relative;
    left: 120px;
    stroke: rgb(249, 249, 249);
    transition-duration: 0.2s;
    transition-property: color;
    transition-timing-function: ease;
    width: 40px;
}

.footer .git a svg {
    transition: transform 0.4s ease-in-out;
}

.footer .git a svg:hover {
    transform: scale(1.3);
}